*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(sunset.jpg);
    height: 100vh;
    background-size: 100% 115%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgb(0, 255, 136)
}

.navbar ul{
    float: right;
    margin-right: 20px;
    
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
